<html>

<head>
	<title>
		Rotating Puzzle !!!
	</title>
	<style>
		.tb {
		border-radius: 100px;
		transition: all 0.5s linear;  
		}
	</style>
</head>

<body style="background: #300000;">
	<div style="display: inline-grid; grid-template-rows: 20% 20% 20% 20% 18% auto; grid-template-columns: 10% 60% 15% 15% auto; height: 95vh; width: 100%;" >
	<div style="grid-row-start: 1; grid-row-end: 6; grid-column-start: 2; width: 100%; display: flex; align-items: center; justify-content: center;">
	<canvas id = "canvas" style = "border: 2px solid black;"> </canvas>
	</div>
	<button class = "tb" id="goodbutton" style="grid-column-start: 3; grid-row-start: 2; border: 2px solid black;width: 100%; font-size:60px; background: #000000; color: #FFFFFF"> Finish </button>
		<div style="grid-column-start: 3; grid-row-start: 4; grid-column-end: 5;  font-size: 40px; color: white;">
		or auto pass after <p id="timecounter">{{ theTime }} </p> seconds
		</div>
	</div>
	

	<script>
		var cv = document.getElementById("canvas");
		var cvx = cv.getContext("2d");

		var difficulty = {{ difficulty }};

		var w_with_difficulty = new Array(2, 4, 6, 8, 10, 12, 14, 16, 18, 20);
		var n_with_difficulty = new Array(4, 16, 36, 64, 100, 144, 196, 256, 324, 400);
		var s_with_difficulty = new Array(300, 500, 600, 640, 700, 720, 770, 800, 810, 900);
		var b_with_difficulty = new Array(150, 125, 100, 80, 70, 60, 55, 50, 45, 45);

		var w = w_with_difficulty[difficulty];
		var s = s_with_difficulty[difficulty];
		var b = b_with_difficulty[difficulty];
		var n = n_with_difficulty[difficulty];

		var piv = (w-1) / 2;

		var imgs = new Array(n);
		var tokens = new Array(n);

		{% for img in puzzlePack %}
			imgs[{{ loop.index }}-1] = new Image();
			imgs[{{ loop.index }}-1].src = "{{ img[0] }}";
			tokens[{{ loop.index }}-1] = "{{ img[1] }}";
		{% endfor %}
		
		cv.width = s;
		cv.height = s;

		cvx.fillStyle = "rgba(93, 41, 6, 1)";
		cvx.fillRect(0, 0, s, s);

		var order = new Array(n);

		for(var i=0;i<n;i++){
			order[i] = i;
		}

		function drawPuzzle(){
			for(var i=0;i<w;i++){
				for(var j=0;j<w;j++){
					var idx = i*w+j;
					cvx.drawImage(imgs[order[idx]], j*b, i*b);
				}
			}
		}
		drawPuzzle();
		function rotateRing(r){
			cvx.clearRect(0, 0, s, s);
			var neworder = new Array(n);
			for(var i=0;i<w;i++){
				for(var j=0;j<w;j++){
					var nr = Math.floor(Math.max(Math.abs(i - piv), Math.abs(j - piv)));
					if(r == nr){
						var d = -1;
						if(j >= i && i+j < w-1)d = 0;
						else if(i+j >= w-1 && j > i)d = 1;
						else if(i+j > w-1 && i >= j)d = 2;
						else if(i+j <= w-1 && i >= j)d = 3;
						var di = 0, dj = 0;
						if(d == 0)dj = 1;
						else if(d == 1)di = 1;
						else if(d == 2)dj = -1;
						else if(d == 3)di = -1;

						var ni = i + di, nj = j+dj;
						var nidx = ni * w + nj;
						var idx = i * w + j;
						console.log(d);
						console.log(idx);
						console.log(nidx);
						neworder[nidx] = order[idx];
					}else{
						var idx = i * w + j;
						neworder[idx] = order[idx];
					}
				}
			}
			order = neworder;
			console.log(neworder);
			drawPuzzle();
		}
		function TMpos(e){
			var x = e.offsetX;
			var y = e.offsetY;
			if(x < 0) x = 0;
			if(y < 0) y = 0;
			var i = Math.floor(x / b);
			var j = Math.floor(y / b);

			if(i > w) i = w-1;
			if(j > w) j = w-1;

			var r = -1;

			for(var ofs = 0; ofs < w ; ofs ++){
				if(i == ofs || j == ofs || i == w - ofs - 1 || j == w - ofs - 1){
					r = ofs;
					break;
				}
			}
			rotateRing(Math.abs(Math.floor(w/2) - r - 1));
		}
		var passToken = "";
		var submite = function(){
			passToken = "";
			for(var i=0;i<n;i++){
				passToken += tokens[order[i]];
			}
			console.log(passToken);
			window.location = window.location.origin + "/service?PASS_TOKEN=" + passToken.split('+').join('*');
		}

		var theTime = {{ theTime }};

		var s = function(){
			if(theTime <= 0) {
				theTime = 0; return 0;
			}
			theTime--;
			document.getElementById("timecounter").innerHTML = theTime;
			if(theTime <= 0) {
				window.location = window.location.origin + "/service";
			}
		};

		setInterval(s, 1000);

		document.getElementById("goodbutton").addEventListener("click", submite);
		document.getElementById("canvas").onmousedown = TMpos;
	</script>
</body>
</html>